/**
 * @name Trude's Discord
 * @description Trude's Theme
 * @author Trude
 * @version 2.0.0
*/


/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */
:root {
  /* Customization */
  --font: "Adwaita Sans", "gg sans";
  --font-weight: 400;
}

:root {
  --font-primary: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-display: var(--font), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  font-weight: var(--font-weight) !important;
}

/* moved the emoji bar to the side */
.buttons__74017 {
  position: fixed;
  right: 20px;
  top: 200px;
  flex-direction: column;
  z-index: 9999;

  height: fit-content;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}


/* fix weird message bar padding */
.clipContainer__841c8 {
  padding-top: 0;
  margin-top: 0;
}


/* ------------------ */
/* Hide Nitro upsells */
/* ------------------ */

.upsell__795fb {
  display: none;
}

li[role="listitem"] {
  /* Hide Nitro button in Home */
  :has(a[href="/store"]) {
    display: none;
  }

  /* Hide shop button in Home */
  :has(a[href="/shop"]) {
    display: none;
  }
}
/* [Settings][Sidebar] Hide Nitro tabs */
div[role="tablist"] {
  > div[class*="separator_"]:has(
      + div[class*="header_"] + div[class*="premiumTab_"]
    ) {
    display: var(--display-settings-billing-header);
  } /* Seperator */
  > div[class*="header_"]:has(+ div[class*="premiumTab_"]) {
    display: var(--display-settings-billing-header);
  } /* Billing Settings header */
  > div[class*="premiumTab_"] {
    display: var(--display-settings-nitro-tab);
  } /* Nitro */
  > div[class*="premiumTab_"] + div {
    display: var(--display-settings-server-boost-tab);
  } /* Server Boost */
  > div[class*="premiumTab_"] + div + div {
    display: var(--display-settings-subscriptions-tab);
  } /* Subscriptions */
  > div[class*="premiumTab_"] + div + div + div {
    display: var(--display-settings-gift-inventory-tab);
  } /* Gift Inventory */
  > div[class*="premiumTab_"] + div + div + div + div {
    display: var(--display-settings-billing-tab);
  } /* Billing */
}

/* [Settings][Sidebar] Disable Nitro tab shininess (for search) */
div[class^="premiumTab"] {
  div[class^="premiumLabel"] svg {
    display: none;
  }
  div[class^="background"] {
    display: none;
  }
}

/* Server Profiles: Make unique profiles for each server box */
div[class*="upsellOverlayContainer_"] {
  display: none;
}

/* Profiles: Choose a GIF avatar */
div[class^="optionBox"]:has(
    div[class^="text-sm/semibold"]
      > div[class^="optionBoxText"]
      > div[class^="optionBoxDescription"]
      > div[class^="nitroWheelFlairContainer"]
  ) {
  display: none;
}

/* Profiles: Change decorations exclusive to Nitro */
div[class*="decorationGridItem"]:has(div[class*="iconBadge"]) {
  display: none;
} /* Decorations */
div[class*="effectGridItem"]:has(div[class*="iconBadge"]) {
  display: none;
} /* Effects */

/* Profiles: Try out Nitro! box */
div[class^="premiumFeatureBorder"] {
  display: none;
}

#profile-customization-tab {
  /* Profiles: New style ad */
  > div[class^="container"]:has(button[class*="colorBrand"]) {
    display: none;
  }

  /* [Settings][Profiles]: Per server avatar */
  div[class^="avatar_"]:has(
      path[d="M7 4a1 1 0 0 0 0 2h3a1 1 0 1 1 0 2H5.5a1 1 0 0 0 0 2H8a1 1 0 1 1 0 2H6a1 1 0 1 0 0 2h1.25A8 8 0 1 0 15 4H7Zm8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"]
    ) {
    pointer-events: none;
  }

  /* [Settings][Profiles]: Hide profile customization ad in banner preview */
  foreignObject
    div[role="button"]:has(path[d^="M15 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"]) {
    display: none;
  }

  /* [Settings][Profiles]: Hide the 'Level up your look, only with Nitro' upsell banner */
  div[class^="upsellContainer"] {
    display: none;
  }
}

/* [Settings][Voice & Video] Soundboard entrance sounds */
div[id="voice-&-video-tab"] div[class*="callSoundsDivider_"] ~ * {
  display: none;
}

#appearance-tab {
  /* [Settings][Appearance] App icon and Theme upsell (old version) */
  div[class^="selectionGroup"]:has(div[class*="appIconSelectionContainer"]):has(
      div[class*="premiumSubscribeButton_"]
    ) {
    display: none;
  }
  div[role="button"]:has(svg[class*="nitroWheel"]) {
    display: none;
  }

  /* [Settings][Appearance] App icon and Theme upsell (new version) */
  div[class*="SelectionContainer"]:has(div[class*="lockedBadgeContainer"]) {
    display: none;
  }
  div[class*="description"]:has(svg[class*="nitroWheel"]) {
    display: none;
  }
}

/* Hide message size upsells */
div[class^="characterCount"] > div[class*=" upsell_"] {
  display: none;
}

/* [Voice Chat][Screen Share] Hide Screen Share quality upsells */
div[class*="qualitySettingsContainer_"] {
  button[class*="premiumUpsell"] {
    display: none;
  }
  div[class*="upsellBanner_"] {
    display: none;
  }
}

/* Hide ad in profile banners */
div[class^="premiumIconWrapper"] {
  display: none;
}

/* Hide "Level up your look" ad in account profile popout */
div[class*="hasCollectiblesUpsell"]
  > div[class^="userPopoutInner"]
  > div[class*="animation_"] {
  display: none;
}

/* Hide "Gift Nitro" button in DM User Profile sidebar */
button[class*=" giftButton"] {
  display: none;
}

/* Emoji popout: "Get nitro" button */
button[class^="shinyButton"]:has(div[class*="premiumSubscribeButton"]) {
  display: none;
}

/* Emoji popout: "Powered by nitro" text */
div[class^="nitroTextAndBadge"] {
  display: none;
}

/* Hide "Custom emojis" Nitro text from hover tooltip */
div[class^="tooltipPremiumContent"] {
  display: none;
}

/* Emoji autocomplete upsell (wowww this stoops low, even for them) */
div[class^="nitroTopDividerContainer"],
div[class^="nitroTopDividerContainer"] ~ div {
  display: none;
}

/* Hide the 'Unlock every emoji with Nitro' in emoji picker */
div[class^="emojiPickerListWrapper"] div[class^="upsellContainer"] {
  display: none;
}

/* Remove the purple background in the emoji picker and autocomplete */
div[class*="categorySectionNitroLocked"] {
  background-color: unset !important;
}

/* Remove the purple divider at the bottom of the emoji picker*/
div[class^="nitroBottomDivider"] {
  display: none;
}

/* Hide the lock icon on servers icon in the emoji picker */
div[class^="categoryItemLockIconContainer"] {
  display: none;
}

/* Hide the lock icon on emoji in the emoji picker */
div[class^="emojiLockIconContainer"] {
  display: none;
}

/* Restore old grayscale filter on Nitro emojis so you don't accidentally click them and get an ad */
div[class*="categorySectionNitroLocked"]
  > ul
  > li
  > button
  > img[class^="lockedEmoji"] {
  filter: grayscale(1);
}

/* Grayscale for emoji that are simply locked and not in the Nitro section */
button[data-type="emoji"]:has(div[class^="emojiLockIconContainer"]) {
  filter: grayscale(1);
}

/* Friend panel nitro upsell */
div[class*="overlayBackground_"]:has(
    div[class*="contentText_"] > a[role="button"]
  ) {
  display: none;
}

/* Hide "sneak peek" upsell banner */
div[class*="notice"][class*="colorPremium"] {
  display: none;
}

/* Hide "Activities" button */
form > div[class^="channelBottomBarArea_"] {
  /* Apps button (right) */
  div[class^="channelAppLauncher_"] {
    display: none;
  }
}

/* Hide Help button */
div[class^="toolbar_"] > a[href*="support.discord.com"] {
  display: none;
}

/* Hide download button in web version */
div[class^="listItem_"]:has(div[class^="guildSeparator_"]):has(
    + div[class^="listItem_"]
      [data-list-item-id="guildsnav___app-download-button"]
  ) {
  display: none;
} /* separator */

div[class^="listItem_"]:has(
    [data-list-item-id="guildsnav___app-download-button"]
  ) {
  display: none;
} /* button & click target */

/* Hide "Get Nitro" button */
.container_c0c49a:has(.iconContainer_c0c49a) {
  display: none;
}
.iconContainer_c0c49a {
  display: none;
}
