.DS_Store
*/*.DS_Store
.Trash
BrewFile.lock.json
switch.log
.vscode

*.tar.*
*.tgz
*.o
*.so
*.out
*.bak
*.bk
*.tmp
*.temp
*.rej
*.orig

/programs/tabbed/tabbed
/programs/tabbed/xembed
/programs/blind/blind
/programs/dmenu/dmenu
/programs/dmenu/stest
/programs/dmenu/dmenu/stest
/programs/dwm/dwm
/programs/quark/quark
/programs/sent/sent
/programs/slock/slock
/programs/st/st
//programs/slstatus/slstatus
/programs/surf/surf
/programs/herbe/herbe
/programs/dwmblocks/dwmblocks
