.DS_Store
*/*.DS_Store
.Trash
BrewFile.lock.json
switch.log
.vscode

dotfiles/.config/VSCodium/*
!dotfiles/.config/VSCodium/User/settings.json

*cache*

temp/

dotfiles/.local/share/icons/hicolor

*~*
*.tar.*
*.tgz
*.o
*.so
*.out
*.bak
*.bk
*.tmp
*.temp
*.rej
*.orig
*\:w

programs/blind/blind
programs/dmenu/dmenu
programs/dmenu/stest
programs/dmenu/dmenu/stest
programs/dwm/dwm
programs/quark/quark
programs/sent/sent
programs/slock/slock
programs/st/st
programs/tabbed/tabbed
programs/slstatus/slstatus
programs/surf/surf
programs/herbe/herbe
programs/dwmblocks/dwmblocks

logs/
