window {
    margin: 0px;
    border: 2px solid #bd93f9;
    background-color: #282a36;
    border-radius: 10px;
    outline-style: none;
    }
    
    #input {
    margin: 5px;
    border: none;
    border-radius: 50px;
    color: #f8f8f2;
    background-color: #44475a;
    outline-style: none;
    }
    
    #inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    outline-style: none;
    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    outline-style: none;
    }
    
    #scroll {
    margin: 0px;
    border: none;
    outline-style: none;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    } 
    
    #entry {
        border-radius: 50px;
        outline-style: none;
    }
    
    #entry.activatable #text {
    color: #282a36;
    }
    
    #entry > * {
    color: #f8f8f2;
    }
    
    #entry:selected {
    background-color: #44475a;
    border: none;
    outline-style: none;
    }
    
    #entry:selected #text {
    font-weight: bold;
    color: #bd93f9;
    background-color: #44475a;
    }
    
    #img:selected {
    background: none;
    }