[Desktop Entry]
Name=VSCode 4k
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/share/code/code %F --ozone-platform-hint=auto
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=application/x-code-workspace;
Keywords=vscode;

