[Desktop Entry]
Name=Ollama
GenericName=Start Ollama
Exec="ollama serve"
Terminal=true
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=10
